.errMsg{
    background: crimson;
    color:whitesmoke;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
    width: 100%;
}

.successMsg{
    background: rgb(22, 172, 67);
    color: whitesmoke;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}