
.FriendListPanel{
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
}
.FriendListIcon { 
    height: 100%;
    background: White;
    position: fixed;
    top: 20;
    right: 0;
    width: 5%;
    z-index: 10;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
 }
.FriendList { 
    height: 100%;
    background: White;
    position: fixed;
    top: 50;
    right: 0;
    width: 20%;
    text-align: center;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}
.FriendListPanel:hover .FriendList{
    transform: translateX(0);
}
.Friend {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.MyFriend {
    flex: 7;
    width: 100%;
    height: 150%;
    padding: 20px 0px 10px 0px;
    align-self: baseline;
    background-color: aquamarine ;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    border-radius: 5%;
    margin-bottom: 15px;
    margin-right: 10px;
}
.NewFriend {
    flex: 3;
}
.AddFriend {
    width: 100%;
    padding: 20px 0px 5px 0px;
    align-self: baseline;
    background-color: lavender ;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    border-radius: 5%;

    margin-bottom: 15px;
    margin-left: auto;
}
.FindFriend {
    width: 100%;
    max-width: 500px;
    border: 10px;
    padding: 20px 5px 5px 5px;
    align-self: baseline;
    background-color: burlywood ;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    border-radius: 5%;
    margin-bottom: 15px;
}
.Friend h1{
    font-size: 4.5vW;
}
.Friend input{
    width: 200px;

}
.Friend ul{
    list-style-type: none;
    overflow: hidden;
    overflow-y: auto;
    max-height: 500px;
    padding: 0% 20% 0% 20%;
}
.Friend ul::-webkit-scrollbar{
    display: none;
}
.Friend li{
    display: inline-block; 
    width: 100%;
    font-size: 1.5vw;
    vertical-align: middle;
}
.Friend li a{
    float: left;
    padding: 5px 0px;
}
.FriendsList li:hover {
    background-color: lightgray;
}
.Friend li button{
    background-color: khaki; /* Green */
    border: none;
    border-radius: 12px;
    color: black;
    padding: 5px 12px;
    margin: 0px 5px 0px 5px;
    text-align: center;
    text-decoration: none;
    display: block;

    transition-duration: 0.2s;
    float: right;
}
.Friend li button:hover {
    background-color: green; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }