.FriendListPanel{
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
}
.FriendListIcon { 
    height: 100%;
    background: White;
    position: fixed;
    top: 50;
    right: 0;
    width: 5%;
    z-index: 10;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
 }
.FriendList { 
    height: 100%;
    background: White;
    position: fixed;
    top: 50;
    right: 0;
    width: 20%;
    text-align: center;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}
.FriendListPanel:hover .FriendList{
    transform: translateX(0);
 }