/*
	Common html tags
*/
@media print 
{
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9pt;
		color: #000000;
		background-color: White;
		margin: 0;
		padding: 0;
		text-align: left;
	}
}

@media screen
{
	body
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 9pt;
		color: #000000;
		margin: 0;
		padding: 0;
		text-align: left;
	}

}


A.bodyLink:link     { color: #41519A; text-decoration:none; font-weight:bold; }
A.bodyLink:visited 	{ color: #41519A; text-decoration:none; font-weight:bold; }
A.bodyLink:active 	{ color: #41519A;  cursor:hand; text-decoration:none; font-weight:bold; }
A.bodyLink:hover 	{ color: #B2C3E1;  cursor:hand; text-decoration:"underline"; font-weight:bold; }


img
{
	border-width: 0;
}

ul.bullet
{
	list-style-image: url(Images/bullet.jpg);
	list-style-position: outside;
	list-style-type: disc;
}

h1
{
	font-size: 16pt;
	color: Black;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
}

h2
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 14pt;
	color: #003300;
	font-weight: bold;
}
	
h3
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 12pt;
	font-weight: bold;
	color: #333300;
}

h4
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 9pt;
	color: #333300;
}

		
/*
	css classes
*/		

.cuhkTitleUnderLine
{
	height:1px;	
	font-size: 1px;
	overflow: hidden;
	width: 100%;
	background-color: #660066;
	display: block;
	padding-bottom: 0px;
}

hr.thinLine {
	border: 0;
	border-top: 1px solid #660066;
	border-bottom: 1px;
	height: 1px;
}

.titleUpper
{
	text-transform: uppercase;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 14pt;
	font-weight: bold;
	color: #660066;
}

.titleLower
{
	text-transform: lowercase;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 14pt;
	font-weight: bold;
	color: #660066;
}

.titleCapitalize
{
	text-transform: capitalize;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 14pt;
	font-weight: bold;
	color: #660066;
}

.titleWhite
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 14pt;
	font-weight: bold;
	color: #ffffff;
}

.titleNormal
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 14pt;
	font-weight: bold;
	color: #660066;
}

.fieldHeaderBar
{
	font-size: 9pt;
	font-weight: bold;
	background-color: #cccccc;
}

.headingBar
{
	background-color: #cccc99;
	border: 0;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	color: #333300;
	font-size: 10pt;
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
}

.headingText
{
	border: 0;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
}

.sectionBar
{
	background-color: #cccc99;
	border: 0;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	color: #333300;
	font-size: 9pt;
	margin-top: 1px;
	margin-bottom: 1px;
	display: block;
}

.sectionText
{
	border: 0;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 9pt;
	margin-top: 1px;
	margin-bottom: 1px;
	display: block;
}

.titleBar
{
	background-color: #41519A;
	border:0;
	font-family:Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	color:White;

}


.paddingTop34px
{
	padding-top: 34px;
	display: block;	
}

.paddingTop19px
{
	padding-top: 19px;
	display: block;
}

.menuTextIndent
{
	font-size: 9pt;
}

.menuText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.Warning
{
	color:Red !important;
	font-weight:bold !important;
}

.body24name
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: normal;
	color: #660066;
	font-style: normal;
	line-height: normal;
}


.login_textbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #111111;
    background-color: #FFFFCC;
    border: 1px solid #CCCCCC;
}

.button075
{
	background:url(../../Images/button_075.jpg);
	font-size: 12px;
	font-weight: bold;
	color: #660000;
	width: 75px;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
}

.search {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
    font-style: normal;
	font-weight: normal;
	color: #666666;
	height:1em;

}

.goldenBar
{
	background: #FFFFFF;
	background-image: url(Images/bg_brown.gif);
	background-repeat:repeat-x;
	height:1.5em;
	vertical-align:middle;
}

.menuEnd
{
	background: #FDF3E5;
	background-image: url(../../Images/slidebar_end.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}


.cont11px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	font-style: normal;
	line-height: 0.75em;
}

.copyrightText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	font-style: normal;
	line-height: 0.75em;
}

.innerTop
{
	background-image: url(../../Images/bg_insidetop.gif);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-position: left top;
}

a.navFooter:link {
	color:#660066;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	line-height: 0.875em;
}
a.navFooter:visited {
	color:#660066;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	line-height: 0.875em;
}
a.navFooter:hover {
	color:#666666;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	line-height: 0.875em;
}

table.header
{
	background-color: #5B6DB5;
}

td.logo
{
	text-align: left;
	width: 184px;
}

.fieldHeader 
{
	font-size:9pt;
	font-weight:bold;
}

.smallFieldHeader 
{
    font-size:8pt;
	font-weight:bold;
}

.fieldNote
{
	font-size:8pt;
}

.noteText
{
	font-family: Arial;
	font-size: 8pt;
	font-weight:bold;
	font-style: italic;
	color: #660066;
}

td.title 
{
	text-align: left;
	font-size: 9pt;
	font-weight: bolder;
	color: #000000;
}

.strongText
{
	font-size: 12pt;
}

.headerBar 
{
	background-image: url(Images/bar.jpg);
	height: 1.5em;
}

td.menu
{
	background-color: #dcdcdc;
	height: 32em;
	vertical-align: top;
	font-size: 8pt;
}

td.footer
{
	margin-left: 30;
	font-size: 8pt;
	font-weight: normal;
	color: #660066;
	text-align: right;
}

/* 
	web server controls style
*/

/* common control style */
.emptyRowErrorStyle
{
	font-size: 12pt;
	font-weight: bold;
	color: Red;
}

.emptyRowMessageStyle
{
	font-size: 12pt;
	font-weight: bold;
	color:Black;
}

.normalHeaderStyle
{
	background-color: #bbd17e;
	font-weight: bold;
	font-size: 9pt;
	color: #333300;
}

.smallHeaderStyle
{
	background-color: #bbd17e;
	font-weight: bold;
	font-size: 8pt;
	color: #333300;
}

.largeHeaderStyle
{
	background-color: #bbd17e;
	font-weight: bold;
	font-size: 12pt;
	color: #333300;
}


.normalAlternatingDataStyle
{
	font-size: 9pt;
	background-color: #dcdcdc;
}
.smallAlternatingDataStyle 
{
	font-size: 8pt;
	background-color: #dcdcdc;
}
.largeAlternatingDataStyle 
{
	font-size: 12pt;
	background-color: #dcdcdc;
}
    
.normalDataStyle
{
	font-size: 9pt;
	background-color: #ffffff;
}

.smallDataStyle
{
	font-size: 8pt;
	background-color: #ffffff;
}
.largeDataStyle
{
	font-size: 12pt;
	background-color: #ffffff;
}
	
.normalFooterStyle
{
	background-color: #f0ffff;
	font-weight: bold;
	font-size: 9pt;
	color: #000000;
}

.smallFooterStyle
{
	background-color: #f0ffff;
	font-weight: bold;
	font-size: 8pt;
	color: #000000;
}

.largeFooterStyle
{
	background-color: #f0ffff;
	font-weight: bold;
	font-size: 12pt;
	color: #000000;
}
	
.normalPagerStyle
{
	background-color: #f0fff0;
	color: Black;
	font-size: 9pt;
}

.smallPagerStyle
{
	background-color: #f0fff0;
	color: Black;
	font-size: 8pt;
}
.largePagerStyle
{
	background-color: #f0fff0;
	color: Black;
	font-size: 12pt;
}


/* Text box style */
.smallTextBox 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 8pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
}

.smallOverflowHiddenTextBox 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;		
	font-size: 8pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.normalTextBox
{
	font-family: Verdana, Arial, Helvetica, sans-serif;		
	font-size: 9pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
}

.grayTextBox
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	background-color: #dcdcdc;
}

.normalOverflowHiddenTextBox
{
	font-family: Verdana, Arial, Helvetica, sans-serif;		
	font-size: 9pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.chineseTextBox
{
	font-size: 9pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	font-family:  細明體, Arial ; 
	
}

.largeTextBox
{
	font-family: Verdana, Arial, Helvetica, sans-serif;			
	font-size: 9pt;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
}

/* label */
.normalFieldHeaderLabel 
{
	font-size: 9pt;
	font-weight: bold;
}

.smallFieldHeaderLabel 
{
	font-size: 8pt;
	font-weight: bold;
}

.rightAlign
{
	text-align:right;
}

.emphasisLabel
{
	font-size: 9pt;
	font-weight: bold;
}

.emphasisChineseLabel
{
	font-family:  細明體, Arial ; 
	font-size: 9pt;
	font-weight: bold;
}

.importantFieldLabel
{
	font-size: 9pt;
	font-weight: bold;
	color: #660066;
}

.strongLabel
{
	font-size: 9pt;
	font-weight: bold;
}

.smallEyeCatchingLabel
{
	font-size: 8pt;
	font-weight: bold;
	color: #ff0000;
}

.normalEyeCatchingLabel
{
	font-size: 9pt;
	font-weight: bold;
	color: #ff0000;
}

.largeEyeCatchingLabel
{
	font-size: 12pt;
	font-weight: bold;
	color: #ff0000;
}

.titleLabel
{
	font-size:12pt;
	font-weight:bold;
	color: #660066;
}

.errorLabel
{
	font-size: 9pt;
	font-weight: bold;
	color: #ff0000;
}
.InvisibleLabel
{
	display:none;
}
.validationError
{
	font-size: 8pt;
	color: #ff0000;
}

.messageLabel
{
	font-size: 9pt;
	font-weight: bold;
	color: #00008b;
}

.normalDataLabel
{
    font-size:9pt;
}

.smallDataLabel
{
    font-size:8pt;
}

.strongMessageLabel
{
	font-size:12pt;
	font-weight:bold;
}

/* Normal GridView */
.normalGridViewFooterStyle
{
	background-color: #f0ffff;
	font-size: 9pt;
}

.normalGridViewRowStyle
{
	font-size: 9pt;
	font-weight: normal;
	color: Black;
}	
	
.normalGridViewSelectedRowStyle
{
	background-color: #f8f8ff;
	font-weight: bold;
	color: #000000;
	font-size: 9pt;
}

.normalGridViewHeaderStyle
{
	background-color: #bbd17e;
	font-weight: bold;
	font-size: 9pt;
	color: Black;
}
	
.normalGridViewAlternatingRowStyle 
{
	background-color:#dcdcdc;
	font-weight: normal;
	font-size: 9pt;
}

.normalGridViewPagerStyle
{
	background-color: #f0fff0;
	color: Black;
	font-size: 9pt;
}

.normalGridViewEmptyDataRowStyle 
{
	color: Red;
	font-size: 10pt;
	font-weight: bold;
}

/* small GridView style */
.smallGridViewFooterStyle 
{
	background-color: #f0ffff;
	font-size: 8pt;
}

.smallGridViewRowStyle
{
	font-size: 8pt;
	color: Black;
}	
	
.smallGridViewSelectedRowStyle
{
	background-color: #f8f8f8;
	font-weight: bold;
	color: White;
	font-size: 8pt;
}

.smallGridViewHeaderStyle
{
	background-color: #bbd17e;
	font-weight: bold;
	font-size: 8pt;
	color: Black;
}
	
.smallGridViewAlternatingRowStyle 
{
	background-color: #dcdcdc;
	font-size: 8pt;
}

.smallGridViewPagerStyle
{
	background-color: #f0fff0;
	color: Black;
	font-size: 8pt;
}

.smallGridViewEmptyDataRowStyle 
{
	color: Red;
	font-size: 9pt;
	font-weight: bold;
}

.reverseHeaderStyle
{
	background-color: #4b5cc8;
	font-weight: bold;
	font-size: 9pt;
	color: White;
}

/* button, link button style */
.normalButton      { margin:0; padding:3px 10px; font-family:Verdana,Arial; font-size :8pt; font-weight: bold; color: #996600; 
                 cursor:pointer; 
                 background:url("Images/button1.jpg") repeat-x left bottom; 
                 border-left:1px solid yellow; border-right:1px solid orange; 
                 border-top:1px solid yellow; border-bottom:1px solid orange; }  

.normalButton:hover, .normalButton.hover { background:url("Images/button2.jpg") repeat-x left top; 
                 border-left:1px solid orange; border-right:1px solid yellow; 
                 border-top:1px solid orange; border-bottom:1px solid yellow; }  
 
.normalButton:disabled, .normalButton.disabled { color: #c0c0c0; 
                  }

.smallButton       { margin:0; padding:3px 10px; font-family:Verdana,Arial; font-size :6pt; font-weight: bold; color: #996600; 
                 cursor:pointer; 
                 background:url("Images/button1.jpg") repeat-x left bottom; 
                 border-left:1px solid yellow; border-right:1px solid orange; 
                 border-top:1px solid yellow; border-bottom:1px solid orange; }  

.smallButton:hover, .smallButton.hover { background:url("Images/button2.jpg") repeat-x left top; 
                 border-left:1px solid orange; border-right:1px solid yellow; 
                 border-top:1px solid orange; border-bottom:1px solid yellow; }  

 .normalLinkButton
{
	font-size: 9pt;
	color: #41519A;
}

.normalLinkButton:hover, .normalLinkButton.hover
{
	color: #ff0033;
}

.smallLinkButton
{
	font-size: 8pt;
	color: #41519A;
}

.smallLinkButton:hover
{
	color: #ff0033;
}

/* Checkbox style */
.normalCheckBox
{
	font-size: 9pt;
}

.smallCheckBox
{
	font-size: 8pt;
}
	
/* General Control style */
.normalControl
{
	font-size: 9pt;
}

.smallControl
{
	font-size: 8pt;
}

	
/* login control */
.login
{
	background-color: #B2C3E1;
	border-color: #41519A;
	border-style: solid;
	border-width: 1px;
	font-size: 9pt;
	color: #333333;
}	

.normalDropDownListStyle 
{
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	font-size: 9pt;
}

.smallDropDownListStyle 
{
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	font-size: 8pt;
}

/* border panel */
.panelBorder
{
	border-color:#999999;
	border-style:solid;
	border-width:1px;
}

.thinTableBorder 
{
     border-collapse:collapse;
     border-color:#999999;
     border:1px;
      border-style:solid;
      empty-cells:show;     
}

.thinBorder 
{
     border-color:#999999;
     border:1px;
      border-style:solid;
	 margin-top: 5px;
	 margin-left: 5px;
	 margin-bottom: 5px;
}

/* login name style */
.loginNameStyle
{
	font-family: Arial;
	font-size: 8pt;
}
	
.loginStatusStyle
{
	font-family: Arial;
	font-size: 8pt;
}
		
/* sitemap path style */
.siteMapPathStyle 
{
	font-family: Arial;
	font-size: 8pt;
}

.siteMapPathSeparatorStyle 
{
	font-family: Arial;
	font-size: 8pt;
	color: #41519a;
}

.siteMapPathCurrentNodeStyle 
{
	font-family: Arial;
	font-size: 8pt;
	color: #6b7ebf;
}

.siteMapPathNodeStyle 
{
	font-family: Arial;
	font-size: 8pt;
	color: #41519a;
}

.siteMapPathRootNodeStyle 
{
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
}

/*
 Modal Panel CSS
*/
.popupControl {
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup
{
	background-color: #ffffdd;
	border: 3px solid Gray;
	padding: 3px;
	width: 700px;
	height: 400px;
}

.modalPopupArea
{
	background-color: #ffffcc;
	border: 2px solid Gray;
	margin-left: 5px;
	margin-top: 5px;
	width: 700px;
	height: 400px;
}	

